:root {
    --gray: #f3f4f6;
    --blue: #1d4ed8;
    --red: #b91c1c;
    --teal: #0f766e;
    --black: #111827;
}

html, body {
    height: 100%;
}
 
.container{
    max-width: 960px;
}

body {
    background-color: var(--gray);
    font-family:  'Arial', sans-serif;
    margin: 0;
    /* margin-bottom: 200px; */
    -webkit-user-select: none;
    user-select: none;
}

.b-gray{
    background-color: var(--gray);
}

.b-teal{
    color: var(--teal);

}

.b-checked{
    background-color: #e4e4e7;
}


.t-gray{
    color: var(--gray)
}

.t-blue {
    color: var(--blue);
}

.t-red {
    color: var(--red)!important;
}

.t-teal {
    color: var(--teal);
}

.t-black{
    color: var(--black)
}

.icon-square{
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}


.option{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    color: var(--bs-dropdown-link-color);
    background-color: transparent;
}

.modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  }
  
  .modal-alert .modal-dialog {
    width: 380px;
  }
  
  .modal-tour .modal-dialog {
    width: 380px;
    border-radius: 0.5rem;
  }
  
  .mb-6{
    margin-bottom: 6rem;
  }

  @media(max-height:620px) {
    #bottom-menu {
        display:none;
    }
}

#exercise-list{
    height: 110%;
}


  /* .dropdown-menu {
    --bs-dropdown-min-width: 11rem;
  } */
