html {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 50px;
}

.container{
    max-width: 960px;
}

.option{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    color: var(--bs-dropdown-link-color);
    background-color: transparent;
}